body {
	background: linear-gradient(#33FF36  0%, #00e5ff 100%);
	text-align: center;
	background-repeat: no-repeat;
}

#reading {
	height: 300px;
	width: 500px;
	border-radius: 50%;
}
#book {
	height: 400px;
	width: 300px;
}

p {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

h1 {
	text-shadow: 2px 2px blue;
	font-family: lobster;
	font-size: 60px;
	padding-top: 50px;
	color: azure;
}
h2 {
	color :black;
	
	font-size: 30px;

}
html{
	scroll-behavior: smooth;
}
#My work a{
    font-size: :30px;
    
}
#References a{
    font-size: :30px;
    
}

.button {
  background-color: yellow;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.menu {
	list-style: none;
	font-family: cursive;
	float: right;
	top: 10px;
	right: 30px;
	cursor: pointer;
	color: black;
	position: absolute;
	z-index: 10;
}

.link {
	float: left;
	padding-top: 5;
	padding-left: 9;
	padding-right: 9;
	padding-bottom: 5;
	font-family: fantasy;
	font-size: 20px;
	color: black;
	
}

.link:hover {
	background-color: white;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}